* {
  box-sizing: border-box;
}
html,
body {
  background: #efefef;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 18px;
  line-height: 28px;
  color: #222;
}
.other {
  font-family: 'JetBrains Mono';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 28px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 21px;
  margin-bottom: 14px;
  font-weight: bold;
}
h3 {
  margin-top: 21px;
  font-size: 20px;
  margin-bottom: 14px;
  font-weight: bold;
}
figure {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}
figcaption {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  font-family: 'JetBrains Mono';
  font-size: 16px;
  line-height: 24px;
}
.jbm {
  font-family: 'JetBrains Mono';
  font-size: 16px;
  line-height: 24px;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: calc(64ch + 24px);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
p {
  margin: 0;
  margin-bottom: 21px;
}
a {
  color: inherit;
  word-break: break-word;
}
blockquote {
  margin: 0;
  padding: 0;
  padding-left: 2ch;
}
code {
  font-family: 'JetBrains Mono';
  background: #fff;
  font-size: 13.33px;
  line-height: 24px;
  padding-left: 0.25ch;
  padding-right: 0.25ch;
}
pre {
  font-family: 'JetBrains Mono';
  font-size: 13.33px;
  line-height: 20px;
  background: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2ch;
  margin-bottom: 21px;
  width: 100%;
  overflow: auto;
}
pre span {
  font-style: normal !important;
}
pre code {
  padding: 0;
  background: transparent;
}
.qspacer {
  width: 100%;
  height: 7px;
}
.hspacer {
  width: 100%;
  height: 14px;
}
.spacer {
  width: 100%;
  height: 28px;
}
.divider {
  width: 100%;
  height: 28px;
  background: #ddd;
}
.indent p {
  margin: 0;
  text-indent: 2ch;
}
hr {
  height: 2px;
  background: #aaa;
  border: none;
  margin-top: -1px;
  margin-bottom: -1px;
}
